@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Satoshi-Medium';
    font-weight: 500;
    src: url(/src/fonts/Satoshi-Medium.woff2) format("woff2");
  } */
  @font-face {
    font-family: "Satoshi-Medium";
    src: url("./fonts/Satoshi-Medium.woff2") format("woff2"),
      url("./fonts/Satoshi-Medium.woff") format("woff"),
      url("./fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi-Bold";
    src: url("./fonts/Satoshi-Bold.woff2") format("woff2"),
      url("./fonts/Satoshi-Bold.woff") format("woff"),
      url("./fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "RobotoMono-Medium";
    font-weight: 500;
    src: url("./fonts/RobotoMono-Medium.ttf") format("truetype");
  }
}

* {
  font-family: "Satoshi-Medium";
}

.title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #92edb1;
  font-size: 80px;
  font-weight: bold;
  font-family: Satoshi-Bold;
  text-shadow: -3px -3px 0 #000002, 0 -3px 0 #000002, 3px -3px 0 #000002,
    3px 0 0 #000002, 3px 3px 0 #000002, 0 3px 0 #000002, -3px 3px 0 #000002,
    -3px 0 0 #000002, -6px 6px 0 #000002;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .title-text {
    font-size: 60px; /* Adjust font size for smaller screens */
    text-shadow: -2px -2px 0 #000001, 0 -2px 0 #000001, 2px -2px 0 #000001,
      2px 0 0 #000001, 2px 2px 0 #000001, 0 2px 0 #000001, -2px 2px 0 #000001,
      -2px 0 0 #000001, -4px 4px 0 #000001; /* Adjust shadow colors for smaller screens */
  }
}

@media (max-width: 480px) {
  .title-text {
    font-size: 50px; /* Adjust font size for smaller screens */
    text-shadow: -2px -2px 0 #000001, 0 -2px 0 #000001, 2px -2px 0 #000001,
      2px 0 0 #000001, 2px 2px 0 #000001, 0 2px 0 #000001, -2px 2px 0 #000001,
      -2px 0 0 #000001, -4px 4px 0 #000001; /* Adjust shadow colors for smaller screens */
  }
}
